@use "../../styles/various.module.scss" as var;

@media screen and (min-width: 1024px) {
    .preback{
        display: flex;
        justify-content: center;
        width: 100vw;
    }


    .back{
        display: flex;
        flex-direction: column;
        width: 79vw;
        padding-top: 50px;
        gap: 50px;
    }
    
    .head{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    
    .date_text{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #3A3B57;
    }
    
    .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 39px;
        color: #07081F;
    }
    
    .pretitle{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #3A3B57;
    }
    
    
    .premark{
            // justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 79vw;
            display: flex;
    }
    
    .markdown{
        width: 916px;
        width: 79vw;
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 25px;
        color: var.$text_color;
        h1{
            font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h2{
            font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h3{
            font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h4{
            font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h5{
            font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h6{
            font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
        }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: var.$text_color;
    }
        pre{
            background-color: #10061d;
            border-radius: 10px;
            padding: 20px;
        }
        code {
            font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
            padding: 4px 8px;
            border-radius: 4px;
            color: #00ffd5;
            font-size: 14px;
            line-height: 1.5;
     
            white-space: pre-wrap;
          }
          table {
            border-collapse: collapse;
            width: 100%;
          }
          
          th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
          }
          
          th {
            background-color: #8CBBF9;
          }
        //   p{
            // @include var.super_small_text;
            width: 56.11vw;
            width: 808px;
        //   }
        img{
            width: 48.26vw;
            height: 100%;
            margin-bottom: 25px;
            margin-top: 10px;
            border-radius: 15px;
            filter: drop-shadow(0px 7.16296px 26.8611px rgba(0, 0, 0, 0.25));
    
        }
    }
    @media screen and (min-width: 1440px) {
        .back{
            width: 1138px;
        }
        .markdown{
            width: 916px;
            img{
                width: 695px;
            }
        }
        .premark{
            width: 1138px;
        }
    }
}
.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;
    

button{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
height: 60px;
background: #eb0303;
opacity: 0.9;
border-radius: 10px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 45px;
color: #F2F2FF;
}
}  
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .preback{
        display: flex;
        justify-content: center;
        width: 100vw;
    }


    .back{
        display: flex;
        flex-direction: column;
        width: 79vw;
        padding-top: 50px;
        gap: 50px;
    }
    
    .head{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    
    .date_text{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #3A3B57;
    }
    
    .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 44px;
        line-height: 35px;
        color: #07081F;
    }
    
    .pretitle{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3A3B57;
    }
    
    
    .premark{
            // justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            display: flex;
    }
    
    .markdown{

        width: 79vw;
        display: flex;
        flex-direction: column;
        // align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        white-space: pre-wrap;
        gap: 25px;
        color: var.$text_color;
        h1{
            font-weight: 500;
    font-size: 38px;
    line-height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h2{
            font-weight: 500;
    font-size: 34px;
    line-height: 36px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h3{
            font-weight: 500;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h4{
            font-weight: 500;
    font-size: 26px;
    line-height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h5{
            font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h6{
            font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
        }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        width: 80vw;
        color: var.$text_color;
    }
    pre {
        background-color: #10061d;
        border-radius: 10px;
        padding: 20px;
        width: 80vw;
      }
      
      code {
        font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
        padding: 4px 8px;
        border-radius: 4px;
        color: #00ffd5;
        font-size: 14px;
        line-height: 1.5;
        width: 80vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        white-space: pre-wrap;
      }
      
          table {
            border-collapse: collapse;
            width: 100%;
            flex-wrap: wrap;
              display: block;
          }
          
          th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 8px;
          }
          
          th {
            background-color: #8CBBF9;
          }
        //   p{
            // @include var.super_small_text;
            width: 56.11vw;
            width: 808px;
        //   }
        img{
            width: 48vw;
            height: 100%;
            margin-bottom: 25px;
            margin-top: 10px;
            border-radius: 15px;
            filter: drop-shadow(0px 7.16296px 26.8611px rgba(0, 0, 0, 0.25));
    
        }

    }
}

@media screen and (max-width: 768px)  {
    .preback{
        display: flex;
        justify-content: center;
        width: 100vw;
    }


    .back{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding-top: 50px;
        gap: 20px;
    }
    
    .head{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
    
    .date_text{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 15px;
    color: #3A3B57;
    }
    
    .title{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 13px;
        color: #07081F;
    }
    
    .pretitle{
        font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 15px;
    color: #3A3B57;
    }
    
    
    .premark{
            // justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            display: flex;
    }
    
    .markdown{
        font-size: 8px;
        line-height: 13px;
        width: 79vw;
        color: black;
        display: flex;
        flex-direction: column;
        // align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        white-space: pre-wrap;
        gap: 12.5px;
        color: var.$text_color;
        h1{
            font-weight: 500;
    font-size: 19px;
    line-height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h2{
            font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h3{
            font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h4{
            font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h5{
            font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    font-family: 'Montserrat';
    font-style: normal;
        }
        h6{
            font-weight: 500;
    font-size: 9px;
    line-height: 10px;
    font-family: 'Montserrat';
    font-style: normal;
        }
    p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 13px;
        width: 80vw;
        color: var.$text_color;
    }
    pre {
        background-color: #10061d;
        border-radius: 5px;
        padding: 10px;
        width: 80vw;
      }
      
      code {
        font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
        padding: 4px 8px;
        border-radius: 4px;
        color: #00ffd5;
        font-size: 8px;
        line-height: 1.5;
        width: 80vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        white-space: pre-wrap;
      }
      
          table {
            border-collapse: collapse;
            width: 100%;
            flex-wrap: wrap;
              display: block;
          }
          
          th, td {
            border: 1px solid #ddd;
            text-align: left;
            padding: 4px;
          }
          
          th {
            background-color: #8CBBF9;
          }
        img{
            width: 48vw;
            height: 100%;
            margin-bottom: 15px;
            margin-top: 10px;
            border-radius: 15px;
            filter: drop-shadow(0px 7.16296px 26.8611px rgba(0, 0, 0, 0.25));
    
        }

    }
}
.codeContainer {
    position: relative;
    overflow: hidden;
  }
  
  .codeContent {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
     /* Adjust the number of lines shown */
  }
  
  .expanded .codeContent {
    -webkit-line-clamp: initial;
  }
  